In [234]:
temp = pd.read_csv('/Users/ericvincent/code/dynamic_portfolio/raw_data/macro/consumer_sentiment.csv', index_col=0)

In [236]:
temp = temp.drop(columns='consumer_change')

In [237]:
temp

           date  consumer_sentiment
273  2000-01-01               112.0
272  2000-02-01               111.3
271  2000-03-01               107.1
270  2000-04-01               109.2
269  2000-05-01               110.7
..          ...                 ...
4    2022-06-01                50.0
3    2022-07-01                51.5
2    2022-08-01                58.2
1    2022-09-01                58.6
0    2022-10-01                59.9

[274 rows x 2 columns]

In [238]:
temp.to_csv('consumer_sentiment.csv')

In [240]:
import yfinance as yf

In [253]:
temp = yf.download('DX-Y.NYB',start='2000-01-01', end='2022-11-23')

[*********************100%***********************]  1 of 1 completed

In [254]:
temp

                  Open        High         Low       Close   Adj Close  Volume
Date
2000-01-03  101.669998  101.830002  100.190002  100.220001  100.220001       0
2000-01-04  100.550003  100.860001  100.010002  100.410004  100.410004       0
2000-01-05  100.419998  100.470001   99.709999  100.379997  100.379997       0
2000-01-06  100.309998  100.809998   99.809998  100.650002  100.650002       0
2000-01-07  100.489998  100.930000  100.440002  100.800003  100.800003       0
...                ...         ...         ...         ...         ...     ...
2022-11-16  106.580002  106.779999  105.860001  106.279999  106.279999       0
2022-11-17  106.269997  107.239998  106.099998  106.690002  106.690002       0
2022-11-18  106.690002  107.040001  106.339996  106.930000  106.930000       0
2022-11-21  106.970001  107.989998  106.889999  107.839996  107.839996       0
2022-11-22  107.699997  107.750000  107.120003  107.220001  107.220001       0

[5791 rows x 6 columns]

In [255]:
temp = temp.drop(columns=['Open', 'High', 'Low', 'Close', 'Volume'])

In [256]:
temp.reset_index(inplace=True)

In [258]:
temp = temp.rename(columns={'Date':'date', 'Adj Close':'usd_price'})

In [259]:
temp

           date   usd_price
0    2000-01-03  100.220001
1    2000-01-04  100.410004
2    2000-01-05  100.379997
3    2000-01-06  100.650002
4    2000-01-07  100.800003
...         ...         ...
5786 2022-11-16  106.279999
5787 2022-11-17  106.690002
5788 2022-11-18  106.930000
5789 2022-11-21  107.839996
5790 2022-11-22  107.220001

[5791 rows x 2 columns]

In [260]:
temp.to_csv('usd.csv')