In [72]:
#from yahooquery import Ticker
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Import/Data Yahoo

In [ ]:
# aapl = Ticker('aapl')

# aapl.summary_detail

# df = Ticker('aapl').history(period='20y', interval='1d')

# df.plot()

# aapl.all_modules

# Import API ALpha

https://www.alphavantage.co/documentation/

## Contrôle de la data

Récolte de la data en CSV, Check s'il y a des valeurs nulles ou doubles.

In [ ]:
url = 'https://www.alphavantage.co/query?function=REAL_GDP&interval=quarterly&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
r = requests.get(url)
data_real_gdp = pd.read_csv(url)

data_real_gdp.to_csv(f'data_real_gdp.csv')

In [ ]:
data_real_gdp.isnull().sum()
data.duplicated().sum()

In [ ]:
url = 'https://www.alphavantage.co/query?function=REAL_GDP_PER_CAPITA&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_real_gdp_capita = pd.read_csv(url)

len(data_real_gdp_capita)

data_real_gdp_capita.to_csv(f'data_real_gdp_capita.csv')

In [ ]:
data_real_gdp_capita.isnull().sum()
data.duplicated().sum()

In [ ]:
url = 'https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval=daily&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_federal_funds = pd.read_csv(url)

len(data_federal_funds)

In [ ]:
data_federal_funds.isnull().sum()
data_federal_funds.duplicated().sum()
data_federal_funds.to_csv(f'data_federal_funds.csv')

In [ ]:
url = 'https://www.alphavantage.co/query?function=CONSUMER_SENTIMENT&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_consumer_sentiment = pd.read_csv(url)

len(data_consumer_sentiment)

In [ ]:
data_consumer_sentiment.duplicated().sum()
data_consumer_sentiment.isnull().sum()
data_consumer_sentiment.to_csv(f'data_consumer_sentiment.csv')

In [ ]:
url = 'https://www.alphavantage.co/query?function=RETAIL_SALES&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_retails = pd.read_csv(url)

len(data_retails)

In [ ]:
data_retails.duplicated().sum()
data_retails.isnull().sum()
data_retails.to_csv(f'data_retails.csv')

In [ ]:
url = 'https://www.alphavantage.co/query?function=DURABLES&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_durable = pd.read_csv(url)

data_durable

In [ ]:
data_durable.duplicated().sum()
data_durable.isnull().sum()
data_durable.to_csv(f'data_durable.csv')

## Treasury yield

In [ ]:
url = 'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=daily&maturity=10year&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_treasury_yield_10 = pd.read_csv(url)

data_treasury_yield_10 = data_treasury_yield_10[data_treasury_yield_10['timestamp']>'2000']
data_treasury_yield_10

In [ ]:
url = 'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=daily&maturity=2year&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_treasury_yield_2 = pd.read_csv(url)
#data_treasury_yield_2.dtypes
data_treasury_yield_2 = data_treasury_yield_2[data_treasury_yield_2['timestamp']>'2000']
data_treasury_yield_2

In [ ]:
treasury_yield = data_treasury_yield_10.merge(data_treasury_yield_2, on = 'timestamp')
treasury_yield['value_x'] = pd.to_numeric(treasury_yield['value_x'],errors='coerce')
treasury_yield['value_y'] = pd.to_numeric(treasury_yield['value_y'],errors='coerce')
treasury_yield['value'] = treasury_yield['value_x']-treasury_yield['value_y']
treasury_yield.columns = ['timestamp','value_10years','value_2years','value']
treasury_yield

treasury_yield.to_csv(f'treasury_yield.csv')

In [ ]:
data_treasury_yield.isnull().sum()
data_treasury_yield.duplicated().sum()

## Liste 500 entreprises

In [20]:
list_ent = ['AAPL',
 'MSFT',
 'GOOG',
 'AMZN', 
 'BRK.B',
 'TSLA',
 'UNH',
 'XOM',
 'JNJ',
 'WMT',
 'NVDA',
 'JPM',
 'V',
 'CVX',
 'PG',
 'LLY',
 'MA',
 'HD',
 'META',
 'BAC',
 'ABBV',
 'PFE',
 'KO',
 'MRK',
 'PEP',
 'COST',
 'ORCL',
 'AVGO',
 'TMO',
 'MCD',
 'CSCO',
 'ACN',
 'DHR',
 'TMUS',
 'ABT',
 'WFC',
 'DIS',
 'LIN',
 'NEE',
 'BMY',
 'NKE',
 'VZ',
 'TXN',
 'UPS',
 'COP',
 'ADBE',
 'CMCSA',
 'CRM',
 'PM',
 'MS',
 'AMGN',
 'SCHW',
 'HON',
 'RTX',
 'QCOM',
 'T',
 'IBM',
 'DE',
 'CVS',
 'LOW',
 'GS',
 'UNP',
 'NFLX',
 'LMT',
 'CAT',
 'AMD',
 'INTC',
 'ELV',
 'SPGI',
 'AXP',
 'SBUX',
 'INTU',
 'BLK',
 'ADP',
 'GILD',
 'PLD',
 'MDT',
 'BA',
 'AMT',
 'CI',
 'GE',
 'TJX',
 'ISRG',
 'C',
 'AMAT',
 'PYPL',
 'MDLZ',
 'CB',
 'SYK',
 'ADI',
 'MMC',
 'EOG',
 'NOW',
 'VRTX',
 'MO',
 'NOC',
 'EL',
 'REGN',
 'PGR',
 'BKNG',
 'DUK',
 'TGT',
 'SLB',
 'SO',
 'MMM',
 'ITW',
 'ZTS',
 'GD',
 'APD',
 'HUM',
 'MRNA',
 'BDX',
 'CSX',
 'WM',
 'PNC',
 'HCA',
 'ETN',
 'USB',
 'FISV',
 'SHW',
 'OXY',
 'CL',
 'MU',
 'CME',
 'AON',
 'LRCX',
 'BSX',
 'EQIX',
 'TFC',
 'PXD',
 'CHTR',
 'CCI',
 'MET',
 'ATVI',
 'ICE',
 'MPC',
 'NSC',
 'DG',
 'GM',
 'EMR',
 'F',
 'KLAC',
 'MCO',
 'FCX',
 'KDP',
 'MNST',
 'MCK',
 'VLO',
 'ORLY',
 'ADM',
 'PSX',
 'PSA',
 'SRE',
 'SNPS',
 'MAR',
 'D',
 'GIS',
 'AEP',
 'AZO',
 'KHC',
 'APH',
 'HSY',
 'CNC',
 'CTVA',
 'EW',
 'CTAS',
 'A',
 'ROP',
 'JCI',
 'CDNS',
 'FDX',
 'NXPI',
 'AIG',
 'KMB',
 'AFL',
 'HES',
 'MSI',
 'PAYX',
 'DVN',
 'TRV',
 'BIIB',
 'DXCM',
 'SYY',
 'LHX',
 'RSG',
 'ENPH',
 'ECL',
 'ADSK',
 'MCHP',
 'ANET',
 'KMI',
 'CMG',
 'FTNT',
 'AJG',
 'STZ',
 'TT',
 'WMB',
 'MSCI',
 'O',
 'IQV',
 'TEL',
 'ROST',
 'PRU',
 'EXC',
 'PH',
 'FIS',
 'SPG',
 'COF',
 'NUE',
 'XEL',
 'HLT',
 'CARR',
 'PCAR',
 'BK',
 'NEM',
 'DOW',
 'EA',
 'WBA',
 'DD',
 'ALL',
 'YUM',
 'AMP',
 'CMI',
 'ILMN',
 'BF.B',
 'TDG',
 'IDXX',
 'ED',
 'KR',
 'ABC',
 'DLTR',
 'RMD',
 'ALB',
 'HAL',
 'NDAQ',
 'LVS',
 'ODFL',
 'WELL',
 'AME',
 'CSGP',
 'OTIS',
 'MTD',
 'SBAC',
 'ON',
 'VICI',
 'DLR',
 'CEG',
 'KEYS',
 'PPG',
 'WEC',
 'CTSH',
 'ROK',
 'GWW',
 'PCG',
 'HPQ',
 'FAST',
 'DFS',
 'MTB',
 'PEG',
 'OKE',
 'DHI',
 'APTV',
 'BKR',
 'GLW',
 'LYB',
 'ES',
 'BAX',
 'STT',
 'VRSK',
 'TROW',
 'WBD',
 'AWK',
 'IT',
 'GPN',
 'HRL',
 'FANG',
 'WTW',
 'RJF',
 'GPC',
 'IFF',
 'CDW',
 'TSCO',
 'FITB',
 'ARE',
 'URI',
 'ZBH',
 'K',
 'LEN',
 'EBAY',
 'EIX',
 'CBRE',
 'EFX',
 'VMC',
 'TSN',
 'HIG',
 'FTV',
 'WY',
 'EQR',
 'AVB',
 'MKC',
 'ETR',
 'LUV',
 'ULTA',
 'AEE',
 'MLM',
 'FE',
 'PFG',
 'FRC',
 'DTE',
 'DAL',
 'HBAN',
 'IR',
 'CTRA',
 'ANSS',
 'ACGL',
 'PPL',
 'RF',
 'VRSN',
 'LH',
 'EXR',
 'PWR',
 'CF',
 'CAH',
 'CFG',
 'XYL',
 'HPE',
 'EPAM',
 'DOV',
 'WAT',
 'WRB',
 'TDY',
 'PAYC',
 'ROL',
 'NTRS',
 'MRO',
 'CNP',
 'INVH',
 'CHD',
 'AES',
 'MOH',
 'JBHT',
 'MAA',
 'BBY',
 'CLX',
 'HOLX',
 'WAB',
 'DRI',
 'EXPD',
 'STE',
 'AMCR',
 'VTR',
 'IEX',
 'CAG',
 'CMS',
 'KEY',
 'MPWR',
 'BALL',
 'J',
 'BR',
 'GRMN',
 'PKI',
 'TTWO',
 'INCY',
 'FDS',
 'MOS',
 'SEDG',
 'CINF',
 'ABMD',
 'DGX',
 'WST',
 'ATO',
 'TRGP',
 'BRO',
 'SYF',
 'FOX',
 'FOXA',
 'NTAP',
 'FMC',
 'EQT',
 'OMC',
 'SJM',
 'LYV',
 'CPB',
 'HWM',
 'CPRT',
 'AVY',
 'IRM',
 'COO',
 'ALGN',
 'SWKS',
 'EXPE',
 'RCL',
 'ETSY',
 'APA',
 'GEN',
 'TXT',
 'LDOS',
 'LKQ',
 'TER',
 'PTC',
 'TRMB',
 'AKAM',
 'NVR',
 'UAL',
 'LNT',
 'FLT',
 'KIM',
 'ZBRA',
 'TYL',
 'DPZ',
 'JKHY',
 'MGM',
 'ESS',
 'L',
 'PEAK',
 'MTCH',
 'NDSN',
 'EVRG',
 'VTRS',
 'IPG',
 'BEN',
 'CBOE',
 'TECH',
 'SIVB',
 'VFC',
 'IP',
 'HST',
 'UDR',
 'POOL',
 'RE',
 'PARA',
 'SNA',
 'CPT',
 'LW',
 'PKG',
 'CRL',
 'SWK',
 'BIO',
 'WDC',
 'CHRW',
 'STX',
 'MAS',
 'GL',
 'CE',
 'REG',
 'NI',
 'BXP',
 'HSIC',
 'CCL',
 'TFX',
 'CZR',
 'NWS',
 'NWSA',
 'KMX',
 'EMN',
 'JNPR',
 'PHM',
 'CDAY',
 'ALLE',
 'QRVO',
 'BWA',
 'NRG',
 'MKTX',
 'WRK',
 'UHS',
 'FFIV',
 'AOS',
 'CMA',
 'AAL',
 'BBWI',
 'HII',
 'AAP',
 'TPR',
 'FRT',
 'IVZ',
 'PNW',
 'HAS',
 'WYNN',
 'FBHS',
 'SBNY',
 'DISH',
 'RHI',
 'WHR',
 'ZION',
 'CTLT',
 'PNR',
 'SEE',
 'RL',
 'NCLH',
 'DXC',
 'GNRC',
 'AIZ',
 'XRAY',
 'LNC',
 'DVA',
 'MHK',
 'OGN',
 'LUMN',
 'ALK',
 'NWL',
 'VNO',
 'TAP']

## Boucle download

### CSV

In [ ]:
#Import en CSV, lance la requète toutes les 21 secondes, le CSV se crée là où se situe le notebook

#import requests

#for i in list_comp :
#    url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={i}&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#    response = requests.get(url)
#    open(f'data_{i}.csv',"wb").write(response.content)
#     time.sleep(21)

### JSON

In [61]:
#Import en Json, transforme en CSV
import requests
import time

for i in list_ent :
    url = f'https://www.alphavantage.co/query?function=EARNINGS&symbol={i}&apikey=1BKEZCMKUSE99CKJ'
    r = requests.get(url)
    data = r.json()["quarterlyEarnings"]
    data = pd.DataFrame(data)
    data.to_csv(f'data_{i}.csv')
    time.sleep(13)
#    open(f'data_{i}.csv',"wb").write(data)
data

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,2022-09-30,2022-11-01,1.32,1.36,-0.04,-2.9412
1,2022-06-30,2022-08-02,1.19,1.19,0,0
2,2022-03-31,2022-05-03,0.29,0.19,0.1,52.6316
3,2021-12-31,2022-02-23,0.81,0.86,-0.05,-5.814
4,2021-09-30,2021-10-28,1.75,1.53,0.22,14.3791
...,...,...,...,...,...,...
102,1997-03-31,1997-04-24,0.11,0.01,0.1,1000
103,1996-12-31,1997-02-18,0.05,-0.01,0.06,600
104,1996-09-30,1996-10-31,0.19,0.28,-0.09,-32.1429
105,1996-06-30,1996-07-29,0.36,0.25,0.11,44
106,1996-03-31,1996-04-19,-0.04,-0.01,-0.03,-300

# Split the DataSet

## Creating FOLDS for cross-validation

In [9]:
def get_folds(
    df: pd.DataFrame,
    fold_length: int,
    fold_stride: int):
    '''
    This function slides through the Time Series dataframe of shape (n_timesteps, n_features) to create folds
    - of equal `fold_length`
    - using `fold_stride` between each fold
    
    Returns a list of folds, each as a DataFrame
    '''
    # $CHALLENGIFY_BEGIN
    
    folds = []
    for idx in range(0, len(df), fold_stride):
        # Exits the loop as soon as the last fold index would exceed the last index
        if (idx + fold_length) > len(df):
            break
        fold = df.iloc[idx:idx + fold_length, :]
        folds.append(fold)
    return folds

    # $CHALLENGIFY_END

## Temporal Train/Test Split

In [15]:
def train_test_split(fold: pd.DataFrame, 
                     train_test_ratio: float,
                     input_length: int, 
                     horizon: int) :
    '''
    Returns a train dataframe and a test dataframe (fold_train, fold_test)
    from which one can sample (X,y) sequences.
    df_train should contain all the timesteps until round(train_test_ratio * len(fold))   
    '''
    # $CHALLENGIFY_BEGIN

    # TRAIN SET
    # ======================
    last_train_idx = round(train_test_ratio * len(fold))
    fold_train = fold.iloc[0:last_train_idx, :]

    # TEST SET
    # ======================
    first_test_idx = last_train_idx - input_length
    fold_test = fold.iloc[first_test_idx:, :]

    return (fold_train, fold_test)

    # $CHALLENGIFY_END

## Create (X, y) sequences

In [81]:
TARGET = ['usd_price']

In [82]:
def get_Xi_yi(first_index: int, 
              fold: pd.DataFrame, 
              horizon: int,
              input_length: int,
              output_length: int):
    '''
    - extracts one sequence from a fold
    - returns a pair (Xi, yi) with:
        * len(Xi) = `input_length` and Xi starting at first_index
        * len(yi) = `output_length`
        * last_Xi and first_yi separated by the gap = horizon -1
    '''

    # $CHALLENGIFY_BEGIN

    Xi_start = first_index
    Xi_last = Xi_start + input_length
    yi_start = Xi_last + horizon - 1
    yi_last = yi_start + output_length

    Xi = fold[Xi_start:Xi_last]
    yi = fold[yi_start:yi_last][TARGET]

    return (Xi, yi)

    # $CHALLENGIFY_END

In [85]:
first_index = folds_test.index.start
Xi, yi = get_Xi_yi(first_index=first_index,
                   fold=folds_test,
                   horizon=horizon,
                   input_length=input_length,
                   output_length=output_length)

In [86]:
def get_X_y(fold: pd.DataFrame,
            horizon: int,
            input_length: int,
            output_length: int,
            stride: int,
            shuffle=True):
    """
    - Uses `data`, a 2D-array with axis=0 for timesteps, and axis=1 for (targets+covariates columns)
    - Returns a Tuple (X,y) of two ndarrays :
        * X.shape = (n_samples, input_length, n_covariates)
        * y.shape =
            (n_samples, output_length, n_targets) if all 3-dimensions are of size > 1
            (n_samples, output_length) if n_targets == 1
            (n_samples, n_targets) if output_length == 1
            (n_samples, ) if both n_targets and lenghts == 1
    - You can shuffle the pairs (Xi,yi) of your fold
    """

    # $CHALLENGIFY_BEGIN
    X = []
    y = []

    # Scanning the fold/data entirely with a certain stride
    for i in range(0, len(fold), stride):
        ## Extracting a sequence starting at index_i
        Xi, yi = get_Xi_yi(first_index=i,
                           fold=folds_test,
                           horizon=horizon,
                           input_length=input_length,
                           output_length=output_length)
        ## Exits loop as soon as we reach the end of the dataset
        if len(yi) < output_length:
            break
        X.append(Xi)
        y.append(yi)

    X = np.array(X)
    y = np.array(y)
    y = np.squeeze(y)

    if shuffle:
        idx = np.arange(len(X))
        np.random.shuffle(idx)
        X = X[idx]
        y = y[idx]

    return X, y

    # $CHALLENGIFY_END

# Baseline

The Mean Absolute Error seems to be a reasonable metrics to evaluate a model's capability to predict the temperature:

$$ MAE = \frac{1}{n_{samples}} \times \sum_{i = 1}^{n_{samples}} |y_{true}^{(i)} - y_{pred}^{(i)}|$$

In [ ]:
TARGET_COLUMN_IDX = 1 # the second column of each fold corresponds to the temperature

def last_seen_value_baseline(X, y):

    # How many values do you want to predict in the future ?
    output_length = y.shape[-1]
    
    # For each sequence, let's consider the last seen value
    # and only the temperature column
    last_seen_values = X[:,-1, TARGET_COLUMN_IDX].reshape(-1,1)

    # We need to duplicate these values as many times as output_length
    # The author of this notebook did not know how to do it, so they searched on Stackoverflow
    # and found this nice np.repeat in Numpy, which is self-explanatory
    repeated = np.repeat(last_seen_values, axis = 1, repeats = output_length)

    return np.mean(np.abs(y_test - repeated))

# Cross-validate

In [ ]:
from sklearn.model_selection import cross_validate

def cross_validate():
    '''
    This function cross-validates 
    '''
    list_of_score_model = []
    
    # 0 - Creating folds
    # =========================================    
    folds = get_folds(df, FOLD_LENGTH, FOLD_STRIDE)
    
    for fold_id, fold in enumerate(folds):
        
        # 1 - Train/Test split the current fold
        # =========================================
        (fold_train, fold_test) = train_test_split(fold, TRAIN_TEST_RATIO, INPUT_LENGTH)                   

        X_train, y_train = get_X_y_strides(fold_train, INPUT_LENGTH, OUTPUT_LENGTH, SEQUENCE_STRIDE)
        X_test, y_test = get_X_y_strides(fold_test, INPUT_LENGTH, OUTPUT_LENGTH, SEQUENCE_STRIDE)
        
        # 2 - Modelling
        # =========================================
        model = LinearRegression()
        cv_results = cross_validate(model, X, y, cv=5)
        cvr = cv_results['test_score'].mean()
        list_of_score_model.append(cvr)

    return list_of_score_model

In [ ]:
cv = cross_validate()

# Test

### Download

In [1]:
from dynamic_portfolio.utils import load_csv

In [2]:
test = load_csv('AAPL')
test

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185813.0,0.0399,4.0,0.03,128992.0,168.8,213709.0,45983.0,NaN,NaN
1,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,104.870,112.50,101.690,111.94,0.851857,4783900.0,0.0,1.0,NaN,...,NaN,0.0543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.220001
3,2000-01-04,108.250,110.62,101.190,102.50,0.780019,4574800.0,0.0,1.0,NaN,...,NaN,0.0538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.410004
4,2000-01-05,103.750,110.56,103.000,104.00,0.791434,6949300.0,0.0,1.0,NaN,...,NaN,0.0541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.379997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,2022-11-22,148.130,150.42,146.925,150.18,150.180000,51804132.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,1738.300049,107.220001
8362,2022-11-23,149.450,151.83,149.340,151.07,151.070000,58301395.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8363,2022-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8364,2022-11-25,148.305,148.88,147.120,148.11,148.110000,35195860.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,2022-11-28,145.140,146.64,143.380,144.22,144.220000,69346522.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### FOLDS

In [27]:
fold_length = 252 #1 an
fold_stride = 60 #1 trimestre

In [96]:
folds_test = get_folds(test, fold_length, fold_stride)
folds_test = folds_test[1]

In [97]:
folds_test

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
60,2000-03-01,118.56,132.06,118.50,130.31,0.991652,9616100.0,0.0,1.0,NaN,...,212974.0,0.0578,4.0,0.032,130751.0,171.2,253717.0,NaN,NaN,104.889999
61,2000-03-02,127.00,127.94,120.69,122.00,0.928413,2779100.0,0.0,1.0,NaN,...,NaN,0.0576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.650002
62,2000-03-03,124.87,128.23,120.00,128.00,0.974073,2887200.0,0.0,1.0,NaN,...,NaN,0.0572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.000000
63,2000-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2000-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2000-11-03,23.00,23.00,21.94,22.25,0.338643,9211100.0,0.0,1.0,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,264.600006,114.970001
308,2000-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000-11-06,22.44,22.62,20.87,21.44,0.326314,7026400.0,0.0,1.0,NaN,...,NaN,0.0649,NaN,NaN,NaN,NaN,NaN,NaN,264.500000,115.690002
311,2000-11-07,21.50,21.81,20.81,21.31,0.324336,5392200.0,0.0,1.0,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,264.299988,115.519997

### Split

In [38]:
train_test_ratio = 0.7
input_length = 10
horizon = 1

In [98]:
fold_train, fold_test = train_test_split(folds_test, train_test_ratio, input_length, horizon)

In [40]:
fold_train

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
60,2000-03-01,118.56,132.06,118.50,130.31,0.991652,9616100.0,0.0,1.0,NaN,...,212974.0,0.0578,4.0,0.032,130751.0,171.2,253717.0,NaN,NaN,104.889999
61,2000-03-02,127.00,127.94,120.69,122.00,0.928413,2779100.0,0.0,1.0,NaN,...,NaN,0.0576,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.650002
62,2000-03-03,124.87,128.23,120.00,128.00,0.974073,2887200.0,0.0,1.0,NaN,...,NaN,0.0572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.000000
63,2000-03-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,2000-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,2000-08-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,2000-08-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,2000-08-21,50.25,51.56,49.63,50.50,0.768604,2401200.0,0.0,1.0,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.459999
234,2000-08-22,50.63,52.81,50.38,51.69,0.786716,4942900.0,0.0,1.0,NaN,...,NaN,0.0642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.790001
235,2000-08-23,51.47,54.75,51.06,54.31,0.826592,4229700.0,0.0,1.0,NaN,...,NaN,0.0650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.419998

In [41]:
fold_test

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
226,2000-08-14,47.59,47.69,46.31,47.06,0.716248,2797500.0,0.0,1.0,NaN,...,NaN,0.0658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.080002
227,2000-08-15,47.25,47.94,46.50,46.69,0.710617,2039300.0,0.0,1.0,NaN,...,NaN,0.0663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.510002
228,2000-08-16,46.88,49.00,46.81,48.50,0.738165,2565600.0,0.0,1.0,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.260002
229,2000-08-17,48.38,52.44,48.31,51.44,0.782911,4837500.0,0.0,1.0,NaN,...,NaN,0.0647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.110001
230,2000-08-18,51.38,51.81,49.88,50.00,0.760994,3396000.0,0.0,1.0,NaN,...,NaN,0.0644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.010002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,2000-11-03,23.00,23.00,21.94,22.25,0.338643,9211100.0,0.0,1.0,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,264.600006,114.970001
308,2000-11-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2000-11-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,2000-11-06,22.44,22.62,20.87,21.44,0.326314,7026400.0,0.0,1.0,NaN,...,NaN,0.0649,NaN,NaN,NaN,NaN,NaN,NaN,264.500000,115.690002
311,2000-11-07,21.50,21.81,20.81,21.31,0.324336,5392200.0,0.0,1.0,NaN,...,NaN,0.0648,NaN,NaN,NaN,NaN,NaN,NaN,264.299988,115.519997

### Sequences

In [89]:
output_length = 1
stride = 1

In [99]:
X_train, y_train = get_X_y(fold=fold_train,
                           horizon=horizon,
                           input_length=input_length,
                           output_length=output_length,
                           stride=stride)
X_test, y_test = get_X_y(fold=fold_test,
                         horizon=horizon,
                         input_length=input_length,
                         output_length=output_length,
                         stride=stride)

In [100]:
print("Shapes for the training set:")
print(f"X_train.shape = {X_train.shape}, y_train.shape = {y_train.shape}")

print("Shapes for the test set:")
print(f"X_test.shape = {X_test.shape}, y_test.shape = {y_test.shape}")

Shapes for the training set:
X_train.shape = (176, 10, 25), y_train.shape = (176,)
Shapes for the test set:
X_test.shape = (86, 10, 25), y_test.shape = (86,)

In [80]:
X_train

array([[['2000-03-01', 118.56, 132.06, 118.5, 130.31, 0.991651830767,
         9616100.0, 0.0, 1.0, nan, nan, 0.0639, 0.0652,
         -0.0012999999999999, 31.71, 212974.0, 0.0578, 4.0, 0.032,
         130751.0, 171.2, 253717.0, nan, nan, 104.88999938964844],
        ['2000-03-02', 127.0, 127.94, 120.69, 122.0, 0.928413194333,
         2779100.0, 0.0, 1.0, nan, nan, 0.064, 0.0652,
         -0.0011999999999999, 31.51, nan, 0.0576, nan, nan, nan, nan,
         nan, nan, nan, 105.6500015258789],
        ['2000-03-03', 124.87, 128.23, 120.0, 128.0, 0.974072859628,
         2887200.0, 0.0, 1.0, nan, nan, 0.0639, 0.065, -0.0011, 31.46,
         nan, 0.0572, nan, nan, nan, nan, nan, nan, nan, 106.0],
        ['2000-03-04', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0572, nan, nan, nan, nan, nan, nan,
         nan, nan],
        ['2000-03-05', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0572, nan, nan, nan, nan, nan, nan,
         nan, nan],
        ['2000-03-06', 126.0, 129.13, 125.0, 125.69, 0.95649388849,
         1880000.0, 0.0, 1.0, nan, nan, 0.0642, 0.0655,
         -0.0012999999999999, 32.19, nan, 0.0573, nan, nan, nan, nan,
         nan, nan, nan, 106.16000366210938],
        ['2000-03-07', 126.44, 127.44, 121.12, 122.87, 0.935033845801,
         2437600.0, 0.0, 1.0, nan, nan, 0.0639, 0.0648, -0.0009, 33.9,
         nan, 0.0567999999999999, nan, nan, nan, nan, nan, nan, nan,
         106.08999633789062],
        ['2000-03-08', 122.87, 123.94, 118.56, 122.0, 0.928413194333,
         2421700.0, 0.0, 1.0, nan, nan, 0.0638, 0.065, -0.0012, 31.22,
         nan, 0.0576999999999999, nan, nan, nan, nan, nan, nan, nan,
         105.93000030517578],
        ['2000-03-09', 120.87, 125.0, 118.25, 122.25, 0.930315680387,
         2470700.0, 0.0, 1.0, nan, nan, 0.0635, 0.0648, -0.0013, 31.61,
         nan, 0.0579, nan, nan, nan, nan, nan, nan, nan,
         105.37000274658205],
        ['2000-03-10', 121.69, 127.94, 121.0, 125.75, 0.956950485143,
         2219700.0, 0.0, 1.0, nan, nan, 0.0639, 0.0655, -0.0016, 31.76,
         nan, 0.0575, nan, nan, nan, nan, nan, nan, nan,
         105.70999908447266]],

       [['2000-04-30', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0605999999999999, nan, nan, nan,
         nan, nan, nan, nan, nan],
        ['2000-05-01', 124.87, 125.12, 121.87, 124.31, 0.945992165472,
         2019600.0, 0.0, 1.0, nan, nan, 0.0629, 0.0673, -0.0044, 25.84,
         190188.0, 0.0617, 4.0, 0.03, 132705.0, 171.5, 257581.0, nan,
         nan, 109.62999725341795],
        ['2000-05-02', 123.25, 126.25, 117.5, 117.87, 0.896984124722,
         2111000.0, 0.0, 1.0, nan, nan, 0.0632, 0.0672,
         -0.0039999999999999, 26.86, nan, 0.0605, nan, nan, nan, nan,
         nan, nan, nan, 110.26000213623048],
        ['2000-05-03', 118.94, 121.25, 111.62, 115.06, 0.875600181475,
         4373200.0, 0.0, 1.0, nan, nan, 0.064, 0.0673, -0.0033, 26.6,
         nan, 0.0605, nan, nan, nan, nan, nan, nan, nan,
         111.26000213623048],
        ['2000-05-04', 115.12, 115.25, 110.56, 110.69, 0.842344725252,
         3567100.0, 0.0, 1.0, nan, nan, 0.0646, 0.0677,
         -0.0030999999999999, 27.08, nan, 0.0605, nan, nan, nan, nan,
         nan, nan, nan, 111.8000030517578],
        ['2000-05-05', 110.81, 114.75, 110.72, 113.12, 0.860836889697,
         2536400.0, 0.0, 1.0, nan, nan, 0.0650999999999999, 0.0684,
         -0.0033, 27.37, nan, 0.0594, nan, nan, nan, nan, nan, nan, nan,
         111.30999755859376],
        ['2000-05-06', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0594, nan, nan, nan, nan, nan, nan,
         nan, nan],
        ['2000-05-07', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0594, nan, nan, nan, nan, nan, nan,
         nan, nan],
        ['2000-05-08', 112.09, 113.69, 110.0, 110.12, 0.838007057049,
         1650900.0, 0.0, 1.0, nan, nan, 0.0657, 0.0687,
         -0.0029999999999999, 28.05, nan, 0.0601, nan, nan, nan, nan,
         nan, nan, nan, 111.4499969482422],
        ['2000-05-09', 110.31, 111.25, 104.87, 105.44, 0.802392518119,
         2920900.0, 0.0, 1.0, nan, nan, 0.0653, 0.0686, -0.0033, 28.46,
         nan, 0.0592, nan, nan, nan, nan, nan, nan, nan, 110.75]],

       [['2000-06-29', 53.06, 53.94, 51.06, 51.25, 0.780019282124,
         3636800.0, 0.0, 1.0, nan, nan, 0.0604, 0.0637, -0.0033, 32.73,
         nan, 0.0676, nan, nan, nan, nan, nan, nan, nan,
         106.83999633789062],
        ['2000-06-30', 52.81, 54.94, 51.69, 52.38, 0.797217756052,
         5769600.0, 0.0, 1.0, nan, nan, 0.0603, 0.0638,
         -0.0034999999999999, 32.44, nan, 0.0686, nan, nan, nan, nan,
         nan, nan, nan, 106.83999633789062],
        ['2000-07-01', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, 159903.0, 0.0686, 4.0, 0.03, 131998.0,
         172.8, 244445.0, 46624.0, nan, nan],
        ['2000-07-02', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0686, nan, nan, nan, nan, nan, nan,
         nan, nan],
        ['2000-07-03', 52.13, 54.31, 52.13, 53.31, 0.811372252294,
         1264800.0, 0.0, 1.0, nan, nan, 0.06, 0.0630999999999999,
         -0.0030999999999999, nan, nan, 0.0703, nan, nan, nan, nan, nan,
         nan, nan, 107.05999755859376],
        ['2000-07-04', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0703, nan, nan, nan, nan, nan, nan,
         nan, 107.29000091552734],
        ['2000-07-05', 53.25, 55.19, 50.75, 51.63, 0.785802839728,
         4736000.0, 0.0, 1.0, nan, nan, 0.0599, 0.0629,
         -0.0029999999999999, 30.76, nan, 0.0652, nan, nan, nan, nan,
         nan, nan, nan, 107.12000274658205],
        ['2000-07-06', 52.5, 52.94, 49.63, 51.81, 0.788542419646,
         5527600.0, 0.0, 1.0, nan, nan, 0.0605, 0.0634, -0.0029, 30.19,
         nan, 0.0650999999999999, nan, nan, nan, nan, nan, nan, nan,
         107.37000274658205],
        ['2000-07-07', 52.59, 54.81, 52.13, 54.44, 0.828570726221,
         4707200.0, 0.0, 1.0, nan, nan, 0.0601, 0.0629, -0.0028, 30.26,
         nan, 0.0642, nan, nan, nan, nan, nan, nan, nan,
         107.6500015258789],
        ['2000-07-08', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
         nan, nan, nan, nan, nan, 0.0642, nan, nan, nan, nan, nan, nan,
         nan, nan]]], dtype=object)