In [3]:
#from yahooquery import Ticker
import pandas as pd
import matplotlib.pyplot as plt

# Import/Data Yahoo

In [ ]:
# aapl = Ticker('aapl')

# aapl.summary_detail

# df = Ticker('aapl').history(period='20y', interval='1d')

# df.plot()

# aapl.all_modules

# Import API ALpha

https://www.alphavantage.co/documentation/

## Contrôle de la data

Récolte de la data en CSV, Check s'il y a des valeurs nulles ou doubles.

In [ ]:
url = 'https://www.alphavantage.co/query?function=REAL_GDP&interval=quarterly&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
r = requests.get(url)
data_real_gdp = pd.read_csv(url)

data_real_gdp.to_csv(f'data_real_gdp.csv')

In [ ]:
data_real_gdp.isnull().sum()
data.duplicated().sum()

In [ ]:
url = 'https://www.alphavantage.co/query?function=REAL_GDP_PER_CAPITA&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_real_gdp_capita = pd.read_csv(url)

len(data_real_gdp_capita)

data_real_gdp_capita.to_csv(f'data_real_gdp_capita.csv')

In [ ]:
data_real_gdp_capita.isnull().sum()
data.duplicated().sum()

In [ ]:
url = 'https://www.alphavantage.co/query?function=FEDERAL_FUNDS_RATE&interval=daily&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_federal_funds = pd.read_csv(url)

len(data_federal_funds)

In [ ]:
data_federal_funds.isnull().sum()
data_federal_funds.duplicated().sum()
data_federal_funds.to_csv(f'data_federal_funds.csv')

In [ ]:
url = 'https://www.alphavantage.co/query?function=CONSUMER_SENTIMENT&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_consumer_sentiment = pd.read_csv(url)

len(data_consumer_sentiment)

In [ ]:
data_consumer_sentiment.duplicated().sum()
data_consumer_sentiment.isnull().sum()
data_consumer_sentiment.to_csv(f'data_consumer_sentiment.csv')

In [ ]:
url = 'https://www.alphavantage.co/query?function=RETAIL_SALES&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_retails = pd.read_csv(url)

len(data_retails)

In [ ]:
data_retails.duplicated().sum()
data_retails.isnull().sum()
data_retails.to_csv(f'data_retails.csv')

In [ ]:
url = 'https://www.alphavantage.co/query?function=DURABLES&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_durable = pd.read_csv(url)

data_durable

In [ ]:
data_durable.duplicated().sum()
data_durable.isnull().sum()
data_durable.to_csv(f'data_durable.csv')

## Treasury yield

In [ ]:
url = 'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=daily&maturity=10year&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_treasury_yield_10 = pd.read_csv(url)

data_treasury_yield_10 = data_treasury_yield_10[data_treasury_yield_10['timestamp']>'2000']
data_treasury_yield_10

In [ ]:
url = 'https://www.alphavantage.co/query?function=TREASURY_YIELD&interval=daily&maturity=2year&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#r = requests.get(url)
data_treasury_yield_2 = pd.read_csv(url)
#data_treasury_yield_2.dtypes
data_treasury_yield_2 = data_treasury_yield_2[data_treasury_yield_2['timestamp']>'2000']
data_treasury_yield_2

In [ ]:
treasury_yield = data_treasury_yield_10.merge(data_treasury_yield_2, on = 'timestamp')
treasury_yield['value_x'] = pd.to_numeric(treasury_yield['value_x'],errors='coerce')
treasury_yield['value_y'] = pd.to_numeric(treasury_yield['value_y'],errors='coerce')
treasury_yield['value'] = treasury_yield['value_x']-treasury_yield['value_y']
treasury_yield.columns = ['timestamp','value_10years','value_2years','value']
treasury_yield

treasury_yield.to_csv(f'treasury_yield.csv')

In [ ]:
data_treasury_yield.isnull().sum()
data_treasury_yield.duplicated().sum()

## Liste 500 entreprises

In [20]:
list_ent = ['AAPL',
 'MSFT',
 'GOOG',
 'AMZN', 
 'BRK.B',
 'TSLA',
 'UNH',
 'XOM',
 'JNJ',
 'WMT',
 'NVDA',
 'JPM',
 'V',
 'CVX',
 'PG',
 'LLY',
 'MA',
 'HD',
 'META',
 'BAC',
 'ABBV',
 'PFE',
 'KO',
 'MRK',
 'PEP',
 'COST',
 'ORCL',
 'AVGO',
 'TMO',
 'MCD',
 'CSCO',
 'ACN',
 'DHR',
 'TMUS',
 'ABT',
 'WFC',
 'DIS',
 'LIN',
 'NEE',
 'BMY',
 'NKE',
 'VZ',
 'TXN',
 'UPS',
 'COP',
 'ADBE',
 'CMCSA',
 'CRM',
 'PM',
 'MS',
 'AMGN',
 'SCHW',
 'HON',
 'RTX',
 'QCOM',
 'T',
 'IBM',
 'DE',
 'CVS',
 'LOW',
 'GS',
 'UNP',
 'NFLX',
 'LMT',
 'CAT',
 'AMD',
 'INTC',
 'ELV',
 'SPGI',
 'AXP',
 'SBUX',
 'INTU',
 'BLK',
 'ADP',
 'GILD',
 'PLD',
 'MDT',
 'BA',
 'AMT',
 'CI',
 'GE',
 'TJX',
 'ISRG',
 'C',
 'AMAT',
 'PYPL',
 'MDLZ',
 'CB',
 'SYK',
 'ADI',
 'MMC',
 'EOG',
 'NOW',
 'VRTX',
 'MO',
 'NOC',
 'EL',
 'REGN',
 'PGR',
 'BKNG',
 'DUK',
 'TGT',
 'SLB',
 'SO',
 'MMM',
 'ITW',
 'ZTS',
 'GD',
 'APD',
 'HUM',
 'MRNA',
 'BDX',
 'CSX',
 'WM',
 'PNC',
 'HCA',
 'ETN',
 'USB',
 'FISV',
 'SHW',
 'OXY',
 'CL',
 'MU',
 'CME',
 'AON',
 'LRCX',
 'BSX',
 'EQIX',
 'TFC',
 'PXD',
 'CHTR',
 'CCI',
 'MET',
 'ATVI',
 'ICE',
 'MPC',
 'NSC',
 'DG',
 'GM',
 'EMR',
 'F',
 'KLAC',
 'MCO',
 'FCX',
 'KDP',
 'MNST',
 'MCK',
 'VLO',
 'ORLY',
 'ADM',
 'PSX',
 'PSA',
 'SRE',
 'SNPS',
 'MAR',
 'D',
 'GIS',
 'AEP',
 'AZO',
 'KHC',
 'APH',
 'HSY',
 'CNC',
 'CTVA',
 'EW',
 'CTAS',
 'A',
 'ROP',
 'JCI',
 'CDNS',
 'FDX',
 'NXPI',
 'AIG',
 'KMB',
 'AFL',
 'HES',
 'MSI',
 'PAYX',
 'DVN',
 'TRV',
 'BIIB',
 'DXCM',
 'SYY',
 'LHX',
 'RSG',
 'ENPH',
 'ECL',
 'ADSK',
 'MCHP',
 'ANET',
 'KMI',
 'CMG',
 'FTNT',
 'AJG',
 'STZ',
 'TT',
 'WMB',
 'MSCI',
 'O',
 'IQV',
 'TEL',
 'ROST',
 'PRU',
 'EXC',
 'PH',
 'FIS',
 'SPG',
 'COF',
 'NUE',
 'XEL',
 'HLT',
 'CARR',
 'PCAR',
 'BK',
 'NEM',
 'DOW',
 'EA',
 'WBA',
 'DD',
 'ALL',
 'YUM',
 'AMP',
 'CMI',
 'ILMN',
 'BF.B',
 'TDG',
 'IDXX',
 'ED',
 'KR',
 'ABC',
 'DLTR',
 'RMD',
 'ALB',
 'HAL',
 'NDAQ',
 'LVS',
 'ODFL',
 'WELL',
 'AME',
 'CSGP',
 'OTIS',
 'MTD',
 'SBAC',
 'ON',
 'VICI',
 'DLR',
 'CEG',
 'KEYS',
 'PPG',
 'WEC',
 'CTSH',
 'ROK',
 'GWW',
 'PCG',
 'HPQ',
 'FAST',
 'DFS',
 'MTB',
 'PEG',
 'OKE',
 'DHI',
 'APTV',
 'BKR',
 'GLW',
 'LYB',
 'ES',
 'BAX',
 'STT',
 'VRSK',
 'TROW',
 'WBD',
 'AWK',
 'IT',
 'GPN',
 'HRL',
 'FANG',
 'WTW',
 'RJF',
 'GPC',
 'IFF',
 'CDW',
 'TSCO',
 'FITB',
 'ARE',
 'URI',
 'ZBH',
 'K',
 'LEN',
 'EBAY',
 'EIX',
 'CBRE',
 'EFX',
 'VMC',
 'TSN',
 'HIG',
 'FTV',
 'WY',
 'EQR',
 'AVB',
 'MKC',
 'ETR',
 'LUV',
 'ULTA',
 'AEE',
 'MLM',
 'FE',
 'PFG',
 'FRC',
 'DTE',
 'DAL',
 'HBAN',
 'IR',
 'CTRA',
 'ANSS',
 'ACGL',
 'PPL',
 'RF',
 'VRSN',
 'LH',
 'EXR',
 'PWR',
 'CF',
 'CAH',
 'CFG',
 'XYL',
 'HPE',
 'EPAM',
 'DOV',
 'WAT',
 'WRB',
 'TDY',
 'PAYC',
 'ROL',
 'NTRS',
 'MRO',
 'CNP',
 'INVH',
 'CHD',
 'AES',
 'MOH',
 'JBHT',
 'MAA',
 'BBY',
 'CLX',
 'HOLX',
 'WAB',
 'DRI',
 'EXPD',
 'STE',
 'AMCR',
 'VTR',
 'IEX',
 'CAG',
 'CMS',
 'KEY',
 'MPWR',
 'BALL',
 'J',
 'BR',
 'GRMN',
 'PKI',
 'TTWO',
 'INCY',
 'FDS',
 'MOS',
 'SEDG',
 'CINF',
 'ABMD',
 'DGX',
 'WST',
 'ATO',
 'TRGP',
 'BRO',
 'SYF',
 'FOX',
 'FOXA',
 'NTAP',
 'FMC',
 'EQT',
 'OMC',
 'SJM',
 'LYV',
 'CPB',
 'HWM',
 'CPRT',
 'AVY',
 'IRM',
 'COO',
 'ALGN',
 'SWKS',
 'EXPE',
 'RCL',
 'ETSY',
 'APA',
 'GEN',
 'TXT',
 'LDOS',
 'LKQ',
 'TER',
 'PTC',
 'TRMB',
 'AKAM',
 'NVR',
 'UAL',
 'LNT',
 'FLT',
 'KIM',
 'ZBRA',
 'TYL',
 'DPZ',
 'JKHY',
 'MGM',
 'ESS',
 'L',
 'PEAK',
 'MTCH',
 'NDSN',
 'EVRG',
 'VTRS',
 'IPG',
 'BEN',
 'CBOE',
 'TECH',
 'SIVB',
 'VFC',
 'IP',
 'HST',
 'UDR',
 'POOL',
 'RE',
 'PARA',
 'SNA',
 'CPT',
 'LW',
 'PKG',
 'CRL',
 'SWK',
 'BIO',
 'WDC',
 'CHRW',
 'STX',
 'MAS',
 'GL',
 'CE',
 'REG',
 'NI',
 'BXP',
 'HSIC',
 'CCL',
 'TFX',
 'CZR',
 'NWS',
 'NWSA',
 'KMX',
 'EMN',
 'JNPR',
 'PHM',
 'CDAY',
 'ALLE',
 'QRVO',
 'BWA',
 'NRG',
 'MKTX',
 'WRK',
 'UHS',
 'FFIV',
 'AOS',
 'CMA',
 'AAL',
 'BBWI',
 'HII',
 'AAP',
 'TPR',
 'FRT',
 'IVZ',
 'PNW',
 'HAS',
 'WYNN',
 'FBHS',
 'SBNY',
 'DISH',
 'RHI',
 'WHR',
 'ZION',
 'CTLT',
 'PNR',
 'SEE',
 'RL',
 'NCLH',
 'DXC',
 'GNRC',
 'AIZ',
 'XRAY',
 'LNC',
 'DVA',
 'MHK',
 'OGN',
 'LUMN',
 'ALK',
 'NWL',
 'VNO',
 'TAP']

## Boucle download

### CSV

In [ ]:
#Import en CSV, lance la requète toutes les 21 secondes, le CSV se crée là où se situe le notebook

#import requests

#for i in list_comp :
#    url = f'https://www.alphavantage.co/query?function=OVERVIEW&symbol={i}&apikey=1BKEZCMKUSE99CKJ&datatype=csv'
#    response = requests.get(url)
#    open(f'data_{i}.csv',"wb").write(response.content)
#     time.sleep(21)

### JSON

In [61]:
#Import en Json, transforme en CSV
import requests
import time

for i in list_ent :
    url = f'https://www.alphavantage.co/query?function=EARNINGS&symbol={i}&apikey=1BKEZCMKUSE99CKJ'
    r = requests.get(url)
    data = r.json()["quarterlyEarnings"]
    data = pd.DataFrame(data)
    data.to_csv(f'data_{i}.csv')
    time.sleep(13)
#    open(f'data_{i}.csv',"wb").write(data)
data

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,2022-09-30,2022-11-01,1.32,1.36,-0.04,-2.9412
1,2022-06-30,2022-08-02,1.19,1.19,0,0
2,2022-03-31,2022-05-03,0.29,0.19,0.1,52.6316
3,2021-12-31,2022-02-23,0.81,0.86,-0.05,-5.814
4,2021-09-30,2021-10-28,1.75,1.53,0.22,14.3791
...,...,...,...,...,...,...
102,1997-03-31,1997-04-24,0.11,0.01,0.1,1000
103,1996-12-31,1997-02-18,0.05,-0.01,0.06,600
104,1996-09-30,1996-10-31,0.19,0.28,-0.09,-32.1429
105,1996-06-30,1996-07-29,0.36,0.25,0.11,44
106,1996-03-31,1996-04-19,-0.04,-0.01,-0.03,-300

# Split the DataSet

In [ ]:
#Définir les variables

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

## Creating FOLDS for cross-validation

In [4]:
fold_length = 252 #1 an
fold_stride = 1 #1 jour

In [9]:
def get_folds(
    df: pd.DataFrame,
    fold_length: int,
    fold_stride: int):
    '''
    This function slides through the Time Series dataframe of shape (n_timesteps, n_features) to create folds
    - of equal `fold_length`
    - using `fold_stride` between each fold
    
    Returns a list of folds, each as a DataFrame
    '''
    # $CHALLENGIFY_BEGIN
    
    folds = []
    for idx in range(0, len(df), fold_stride):
        # Exits the loop as soon as the last fold index would exceed the last index
        if (idx + fold_length) > len(df):
            break
        fold = df.iloc[idx:idx + fold_length, :]
        folds.append(fold)
    return folds

    # $CHALLENGIFY_END

## Temporal Train/Test Split

In [15]:
def train_test_split(fold: pd.DataFrame, 
                     train_test_ratio: float,
                     input_length: int, 
                     horizon: int) :
    '''
    Returns a train dataframe and a test dataframe (fold_train, fold_test)
    from which one can sample (X,y) sequences.
    df_train should contain all the timesteps until round(train_test_ratio * len(fold))   
    '''
    # $CHALLENGIFY_BEGIN

    # TRAIN SET
    # ======================
    last_train_idx = round(train_test_ratio * len(fold))
    fold_train = fold.iloc[0:last_train_idx, :]

    # TEST SET
    # ======================
    first_test_idx = last_train_idx - input_length
    fold_test = fold.iloc[first_test_idx:, :]

    return (fold_train, fold_test)

    # $CHALLENGIFY_END

## Create (X, y) sequences

In [ ]:
input_length:
output_length:
sequence_stride:

In [ ]:
def get_X_y_strides(fold: pd.DataFrame, input_length: int, output_length: int, sequence_stride: int):
    '''
    - slides through a `fold` Time Series (2D array) to create sequences of equal
        * `input_length` for X,
        * `output_length` for y,
    using a temporal gap `sequence_stride` between each sequence
    - returns a list of sequences, each as a 2D-array time series
    '''

    X, y = [], []

    for i in range(0, len(fold), sequence_stride):
        # Exits the loop as soon as the last fold index would exceed the last index
        if (i + input_length + output_length) > len(fold):
            break
        X_i = fold.iloc[i:i + input_length, :]
        y_i = fold.iloc[i + input_length:i + input_length + output_length, :][[TARGET]]
        X.append(X_i)
        y.append(y_i)

    return np.array(X), np.array(y)

In [ ]:
X_train, y_train = get_X_y_strides(fold_train, INPUT_LENGTH, OUTPUT_LENGTH, SEQUENCE_STRIDE)
X_test, y_test = get_X_y_strides(fold_test, INPUT_LENGTH, OUTPUT_LENGTH, SEQUENCE_STRIDE)

#print(X_train.shape)
#print(y_train.shape)

# Baseline

The Mean Absolute Error seems to be a reasonable metrics to evaluate a model's capability to predict the temperature:

$$ MAE = \frac{1}{n_{samples}} \times \sum_{i = 1}^{n_{samples}} |y_{true}^{(i)} - y_{pred}^{(i)}|$$

In [ ]:
TARGET_COLUMN_IDX = 1 # the second column of each fold corresponds to the temperature

def last_seen_value_baseline(X, y):

    # How many values do you want to predict in the future ?
    output_length = y.shape[-1]
    
    # For each sequence, let's consider the last seen value
    # and only the temperature column
    last_seen_values = X[:,-1, TARGET_COLUMN_IDX].reshape(-1,1)

    # We need to duplicate these values as many times as output_length
    # The author of this notebook did not know how to do it, so they searched on Stackoverflow
    # and found this nice np.repeat in Numpy, which is self-explanatory
    repeated = np.repeat(last_seen_values, axis = 1, repeats = output_length)

    return np.mean(np.abs(y_test - repeated))

# Cross-validate

In [ ]:
from sklearn.model_selection import cross_validate

def cross_validate():
    '''
    This function cross-validates 
    '''
    list_of_score_model = []
    
    # 0 - Creating folds
    # =========================================    
    folds = get_folds(df, FOLD_LENGTH, FOLD_STRIDE)
    
    for fold_id, fold in enumerate(folds):
        
        # 1 - Train/Test split the current fold
        # =========================================
        (fold_train, fold_test) = train_test_split(fold, TRAIN_TEST_RATIO, INPUT_LENGTH)                   

        X_train, y_train = get_X_y_strides(fold_train, INPUT_LENGTH, OUTPUT_LENGTH, SEQUENCE_STRIDE)
        X_test, y_test = get_X_y_strides(fold_test, INPUT_LENGTH, OUTPUT_LENGTH, SEQUENCE_STRIDE)
        
        # 2 - Modelling
        # =========================================
        model = LinearRegression()
        cv_results = cross_validate(model, X, y, cv=5)
        cvr = cv_results['test_score'].mean()
        list_of_score_model.append(cvr)

    return list_of_score_model

In [ ]:
cv = cross_validate()

# Test

In [1]:
from dynamic_portfolio.utils import load_csv

In [2]:
test = load_csv('AAPL')
test

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185813.0,0.0399,4.0,0.03,128992.0,168.8,213709.0,45983.0,NaN,NaN
1,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,104.870,112.50,101.690,111.94,0.851857,4783900.0,0.0,1.0,NaN,...,NaN,0.0543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.220001
3,2000-01-04,108.250,110.62,101.190,102.50,0.780019,4574800.0,0.0,1.0,NaN,...,NaN,0.0538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.410004
4,2000-01-05,103.750,110.56,103.000,104.00,0.791434,6949300.0,0.0,1.0,NaN,...,NaN,0.0541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.379997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,2022-11-22,148.130,150.42,146.925,150.18,150.180000,51804132.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,1738.300049,107.220001
8362,2022-11-23,149.450,151.83,149.340,151.07,151.070000,58301395.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8363,2022-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8364,2022-11-25,148.305,148.88,147.120,148.11,148.110000,35195860.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,2022-11-28,145.140,146.64,143.380,144.22,144.220000,69346522.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
fold_length = 252 #1 an
fold_stride = 1 #1 jour

In [12]:
folds_test = get_folds(test, fold_length, fold_stride)
folds_test = folds_test[0]

In [13]:
folds_test

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185813.0,0.0399,4.0,0.03,128992.0,168.8,213709.0,45983.0,NaN,NaN
1,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,104.87,112.50,101.69,111.94,0.851857,4783900.0,0.0,1.0,NaN,...,NaN,0.0543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.220001
3,2000-01-04,108.25,110.62,101.19,102.50,0.780019,4574800.0,0.0,1.0,NaN,...,NaN,0.0538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.410004
4,2000-01-05,103.75,110.56,103.00,104.00,0.791434,6949300.0,0.0,1.0,NaN,...,NaN,0.0541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.379997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2000-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,2000-09-05,62.66,64.12,62.25,62.44,0.950330,5332900.0,0.0,1.0,NaN,...,NaN,0.0661,NaN,NaN,NaN,NaN,NaN,NaN,275.799988,112.410004
249,2000-09-06,61.38,62.38,57.75,58.44,0.889450,6346500.0,0.0,1.0,NaN,...,NaN,0.0656,NaN,NaN,NaN,NaN,NaN,NaN,274.200012,114.120003
250,2000-09-07,59.13,62.56,58.25,62.00,0.943633,3883300.0,0.0,1.0,NaN,...,NaN,0.0653,NaN,NaN,NaN,NaN,NaN,NaN,274.000000,113.650002
251,2000-09-08,61.63,61.63,58.50,58.88,0.896147,3491400.0,0.0,1.0,NaN,...,NaN,0.0650,NaN,NaN,NaN,NaN,NaN,NaN,273.299988,114.339996

In [17]:
train_test_ratio = 0.7
input_length = 60
horizon = 1

In [18]:
fold_train, fold_test = train_test_split(folds_test, train_test_ratio, input_length, horizon)

In [24]:
fold_train

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185813.0,0.0399,4.0,0.03,128992.0,168.8,213709.0,45983.0,NaN,NaN
1,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,104.87,112.50,101.69,111.94,0.851857,4783900.0,0.0,1.0,NaN,...,NaN,0.0543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.220001
3,2000-01-04,108.25,110.62,101.19,102.50,0.780019,4574800.0,0.0,1.0,NaN,...,NaN,0.0538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.410004
4,2000-01-05,103.75,110.56,103.00,104.00,0.791434,6949300.0,0.0,1.0,NaN,...,NaN,0.0541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.379997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,2000-06-20,98.50,103.94,98.37,101.25,0.770507,4476700.0,0.0,1.0,NaN,...,NaN,0.0649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,106.330002
172,2000-06-21,50.50,56.94,50.31,55.63,0.846682,4375000.0,0.0,2.0,NaN,...,NaN,0.0647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.430000
173,2000-06-22,55.75,57.63,53.56,53.75,0.818069,8352000.0,0.0,1.0,NaN,...,NaN,0.0652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107.709999
174,2000-06-23,53.78,54.63,50.81,51.69,0.786716,3660100.0,0.0,1.0,NaN,...,NaN,0.0651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.010002
175,2000-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
fold_test

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
116,2000-04-26,126.62,128.00,120.00,121.31,0.923162,3276000.0,0.0,1.0,NaN,...,NaN,0.0600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,108.550003
117,2000-04-27,117.19,127.00,116.58,126.75,0.964560,2916100.0,0.0,1.0,NaN,...,NaN,0.0600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109.570000
118,2000-04-28,127.12,127.50,121.31,124.06,0.944090,2228400.0,0.0,1.0,NaN,...,NaN,0.0606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.139999
119,2000-04-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
120,2000-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,2000-09-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,2000-09-05,62.66,64.12,62.25,62.44,0.950330,5332900.0,0.0,1.0,NaN,...,NaN,0.0661,NaN,NaN,NaN,NaN,NaN,NaN,275.799988,112.410004
249,2000-09-06,61.38,62.38,57.75,58.44,0.889450,6346500.0,0.0,1.0,NaN,...,NaN,0.0656,NaN,NaN,NaN,NaN,NaN,NaN,274.200012,114.120003
250,2000-09-07,59.13,62.56,58.25,62.00,0.943633,3883300.0,0.0,1.0,NaN,...,NaN,0.0653,NaN,NaN,NaN,NaN,NaN,NaN,274.000000,113.650002
251,2000-09-08,61.63,61.63,58.50,58.88,0.896147,3491400.0,0.0,1.0,NaN,...,NaN,0.0650,NaN,NaN,NaN,NaN,NaN,NaN,273.299988,114.339996