In [28]:
# Importing relevant librairies
import numpy as np
import pandas as pd
import yfinance as yf
import os

In [29]:
# Creating our df containing all returns for the first 30 companies by market cap
tickers_list = ['AAPL','IBM']

In [30]:
test_df  = yf.download(tickers_list, start="2000-01-01", end="2021-12-31")

[*********************100%***********************]  2 of 2 completed

In [31]:
test_df.drop(columns='Close', inplace=True)

In [33]:
test_df

             Adj Close                    High                     Low  \
                  AAPL         IBM        AAPL         IBM        AAPL
Date
2000-01-03    0.851942   64.057022    1.004464  110.898659    0.907924
2000-01-04    0.780115   61.882668    0.987723  109.464630    0.903460
2000-01-05    0.791531   64.057022    0.987165  114.483749    0.919643
2000-01-06    0.723033   62.952583    0.955357  113.706978    0.848214
2000-01-07    0.757282   62.676521    0.901786  112.750954    0.852679
...                ...         ...         ...         ...         ...
2021-12-23  175.262817  124.457581  176.850006  130.960007  175.270004
2021-12-27  179.289459  125.400787  180.419998  131.649994  177.070007
2021-12-28  178.255447  126.363068  181.330002  133.220001  178.529999
2021-12-29  178.344925  127.049065  180.630005  134.210007  178.139999
2021-12-30  177.171722  127.582581  180.570007  134.369995  178.089996

                              Open                 Volume
                   IBM        AAPL         IBM       AAPL       IBM
Date
2000-01-03  106.955070    0.936384  107.492828  535796800  10823694
2000-01-04  105.999046    0.966518  108.986618  512377600   8606279
2000-01-05  107.194077    0.926339  107.970840  778321600  13318927
2000-01-06  108.508606    0.947545  112.810707  767972800   8338607
2000-01-07  105.760040    0.861607  112.093689  460734400  12402108
...                ...         ...         ...        ...       ...
2021-12-23  129.520004  175.850006  130.000000   68356600   3649000
2021-12-27  129.949997  177.089996  130.630005   74919600   4293900
2021-12-28  131.589996  180.160004  131.600006   79144300   3445200
2021-12-29  132.300003  179.330002  132.399994   62348900   4239900
2021-12-30  133.330002  179.470001  133.750000   59773000   3158100

[5535 rows x 10 columns]

In [27]:
import sys
sys.path.append('/home/racho961/code/dynamic_portfolio/utils.py')

In [ ]:
import lo