In [107]:
# Importing relevant librairies
import numpy as np
import pandas as pd
import yfinance as yf
import os

In [108]:
# Loading stocks return
ticker = pd.read_csv('../raw_data/stocks_return/adj_return_META.csv')
ticker.rename(columns={'timestamp':'date'}, inplace=True)
ticker.sort_values('date', ascending=True, inplace=True)
ticker.reset_index(inplace=True, drop=True)

if '1999-12-31' in ticker['date'].values:
    ticker = ticker[ticker['date']>'1999-12-31']
    ticker.reset_index(inplace=True, drop=True)

ticker.head()

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2012-05-18,42.05,45.00,38.00,38.2318,38.2318,573576400,0.0,1.0
1,2012-05-21,36.53,36.66,33.00,34.0300,34.0300,168192700,0.0,1.0
2,2012-05-22,32.61,33.59,30.94,31.0000,31.0000,101786600,0.0,1.0
3,2012-05-23,31.37,32.50,31.36,32.0000,32.0000,73600000,0.0,1.0
4,2012-05-24,32.95,33.21,31.77,33.0300,33.0300,50237200,0.0,1.0

In [109]:
# Working on eps folder
ticker_eps = pd.read_csv('../raw_data/eps/data_META.csv', index_col=0)
ticker_eps['date'] = ticker_eps['reportedDate'].copy()

In [110]:
ticker_eps.sort_values('date', inplace=True)
ticker_eps['reportedDate']= pd.to_datetime(ticker_eps['reportedDate'])
ticker_eps['year'] = pd.DatetimeIndex(ticker_eps['reportedDate']).year

In [111]:
if 2000 in ticker_eps['year'].values:
    ticker_eps = ticker_eps[ticker_eps['year']>=2000]
    ticker_eps.reset_index(inplace=True, drop=True)
    
ticker_eps.drop(columns=['year','fiscalDateEnding', 'estimatedEPS', 'surprise', 'reportedDate'], inplace=True)

In [112]:
gold = pd.read_csv('../raw_data/macro/gold.csv', index_col=0)
us_dollar = pd.read_csv('../raw_data/macro/usd.csv', index_col=0)

credit_spread = pd.read_csv('../raw_data/macro/us_yields.csv', index_col=0) 
oil = pd.read_csv('../raw_data/macro/oil.csv', index_col=0) 
orders = pd.read_csv('../raw_data/macro/orders.csv', index_col=0) 
ffunds_rate = pd.read_csv('../raw_data/macro/fed_funds.csv', index_col=0) 
unemployment = pd.read_csv('../raw_data/macro/unemployment.csv', index_col=0) 
inflation_expectation = pd.read_csv('../raw_data/macro/inflation_expectation.csv', index_col=0) 
non_farm_payroll = pd.read_csv('../raw_data/macro/non_farm_payroll.csv', index_col=0) 
cpi = pd.read_csv('../raw_data/macro/cpi.csv', index_col=0) 
retails = pd.read_csv('../raw_data/macro/retail_sales.csv', index_col=0) 
gdp_capita = pd.read_csv('../raw_data/macro/gdp_per_capita.csv', index_col=0)

In [113]:
final_df = ticker.copy()

In [114]:
final_df = final_df.merge(ticker_eps, how='outer', on='date')

In [115]:
final_df = final_df.merge(credit_spread, how='outer')

In [116]:
final_df = final_df.merge(oil, how='outer', on='date',)

In [117]:
final_df = final_df.merge(orders, how='outer')

In [118]:
final_df = final_df.merge(ffunds_rate, how='outer')

In [119]:
final_df = final_df.merge(unemployment, how='outer')

In [120]:
final_df = final_df.merge(inflation_expectation, how='outer')

In [121]:
final_df = final_df.merge(non_farm_payroll, how='outer')

In [122]:
final_df = final_df.merge(cpi, how='outer')

In [123]:
final_df = final_df.merge(retails, how='outer')

In [124]:
final_df = final_df.merge(gdp_capita, how='outer')

In [125]:
#merge gold
final_df = final_df.merge(gold, how='outer', on='date')

In [126]:
# merge us_dollar
final_df = final_df.merge(us_dollar, how='outer', on='date')

In [127]:
final_df = final_df.sort_values('date', ascending=True)
final_df.reset_index(drop=True, inplace=True)

In [128]:
final_df

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185813.0,0.0399,4.0,0.03,128992.0,168.8,213709.0,45983.0,NaN,NaN
1,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.220001
3,2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.410004
4,2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.379997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,2022-11-22,109.86,111.62,108.3216,111.44,111.44,29028963.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,1738.300049,107.220001
8362,2022-11-23,111.72,112.67,110.7300,112.24,112.24,21343083.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8363,2022-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8364,2022-11-25,111.30,112.73,111.0200,111.41,111.41,12007566.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,2022-11-28,110.78,112.04,108.3800,108.78,108.78,23332816.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# final_df['orders'] = final_df['orders'].fillna(method='ffill')
# final_df['retail_sales'] = final_df['retail_sales'].fillna(method='ffill')
# final_df['gdp_per_capita'] = final_df['gdp_per_capita'].fillna(method='ffill')
# final_df['CPI'] = final_df['CPI'].fillna(method='ffill')
# final_df['non_farm_payroll'] = final_df['non_farm_payroll'].fillna(method='ffill')
# final_df['inf_exp'] = final_df['inf_exp'].fillna(method='ffill')
# final_df['unemployment_rate'] = final_df['unemployment_rate'].fillna(method='ffill')
# final_df['reportedEPS'] = final_df['reportedEPS'].fillna(method='ffill')

In [47]:
final_df.reset_index(inplace=True, drop=True)

In [ ]:
tickers = ['AAPL',
 'MSFT',
 'GOOG',
 'AMZN',
 'BRK.B',
 'TSLA',
 'UNH',
 'XOM',
 'JNJ',
 'WMT',
 'NVDA',
 'JPM',
 'V',
 'CVX',
 'PG',
 'LLY',
 'MA',
 'HD',
 'META',
 'BAC',
 'ABBV',
 'PFE',
 'KO',
 'MRK',
 'PEP',
 'COST',
 'ORCL',
 'AVGO',
 'TMO',
 'MCD',
 'CSCO',
 'ACN',
 'DHR',
 'TMUS',
 'ABT',
 'WFC',
 'DIS',
 'LIN',
 'NEE',
 'BMY',
 'NKE',
 'VZ',
 'TXN',
 'UPS',
 'COP',
 'ADBE',
 'CMCSA',
 'CRM',
 'PM',
 'MS',
 'AMGN',
 'SCHW',
 'HON',
 'RTX',
 'QCOM',
 'T',
 'IBM',
 'DE',
 'CVS',
 'LOW',
 'GS',
 'UNP',
 'NFLX',
 'LMT',
 'CAT',
 'AMD',
 'INTC',
 'ELV',
 'SPGI',
 'AXP',
 'SBUX',
 'INTU',
 'BLK',
 'ADP',
 'GILD',
 'PLD',
 'MDT',
 'BA',
 'AMT',
 'CI',
 'GE',
 'TJX',
 'ISRG',
 'C',
 'AMAT',
 'PYPL',
 'MDLZ',
 'CB',
 'SYK',
 'ADI',
 'MMC',
 'EOG',
 'NOW',
 'VRTX',
 'MO',
 'NOC',
 'EL',
 'REGN',
 'PGR',
 'BKNG',
 'DUK',
 'TGT',
 'SLB',
 'SO',
 'MMM',
 'ITW',
 'ZTS',
 'GD',
 'APD',
 'HUM',
 'MRNA',
 'BDX',
 'CSX',
 'WM',
 'PNC',
 'HCA',
 'ETN',
 'USB',
 'FISV',
 'SHW',
 'OXY',
 'CL',
 'MU',
 'CME',
 'AON',
 'LRCX',
 'BSX',
 'EQIX',
 'TFC',
 'PXD',
 'CHTR',
 'CCI',
 'MET',
 'ATVI',
 'ICE',
 'MPC',
 'NSC',
 'DG',
 'GM',
 'EMR',
 'F',
 'KLAC',
 'MCO',
 'FCX',
 'KDP',
 'MNST',
 'MCK',
 'VLO',
 'ORLY',
 'ADM',
 'PSX',
 'PSA',
 'SRE',
 'SNPS',
 'MAR',
 'D',
 'GIS',
 'AEP',
 'AZO',
 'KHC',
 'APH',
 'HSY',
 'CNC',
 'CTVA',
 'EW',
 'CTAS',
 'A',
 'ROP',
 'JCI',
 'CDNS',
 'FDX',
 'NXPI',
 'AIG',
 'KMB',
 'AFL',
 'HES',
 'MSI',
 'PAYX',
 'DVN',
 'TRV',
 'BIIB',
 'DXCM',
 'SYY',
 'LHX',
 'RSG',
 'ENPH',
 'ECL',
 'ADSK',
 'MCHP',
 'ANET',
 'KMI',
 'CMG',
 'FTNT',
 'AJG',
 'STZ',
 'TT',
 'WMB',
 'MSCI',
 'O',
 'IQV',
 'TEL',
 'ROST',
 'PRU',
 'EXC',
 'PH',
 'FIS',
 'SPG',
 'COF',
 'NUE',
 'XEL',
 'HLT',
 'CARR',
 'PCAR',
 'BK',
 'NEM',
 'DOW',
 'EA',
 'WBA',
 'DD',
 'ALL',
 'YUM',
 'AMP',
 'CMI',
 'ILMN',
 'BF.B',
 'TDG',
 'IDXX',
 'ED',
 'KR',
 'ABC',
 'DLTR',
 'RMD',
 'ALB',
 'HAL',
 'NDAQ',
 'LVS',
 'ODFL',
 'WELL',
 'AME',
 'CSGP',
 'OTIS',
 'MTD',
 'SBAC',
 'ON',
 'VICI',
 'DLR',
 'CEG',
 'KEYS',
 'PPG',
 'WEC',
 'CTSH',
 'ROK',
 'GWW',
 'PCG',
 'HPQ',
 'FAST',
 'DFS',
 'MTB',
 'PEG',
 'OKE',
 'DHI',
 'APTV',
 'BKR',
 'GLW',
 'LYB',
 'ES',
 'BAX',
 'STT',
 'VRSK',
 'TROW',
 'WBD',
 'AWK',
 'IT',
 'GPN',
 'HRL',
 'FANG',
 'WTW',
 'RJF',
 'GPC',
 'IFF',
 'CDW',
 'TSCO',
 'FITB',
 'ARE',
 'URI',
 'ZBH',
 'K',
 'LEN',
 'EBAY',
 'EIX',
 'CBRE',
 'EFX',
 'VMC',
 'TSN',
 'HIG',
 'FTV',
 'WY',
 'EQR',
 'AVB',
 'MKC',
 'ETR',
 'LUV',
 'ULTA',
 'AEE',
 'MLM',
 'FE',
 'PFG',
 'FRC',
 'DTE',
 'DAL',
 'HBAN',
 'IR',
 'CTRA',
 'ANSS',
 'ACGL',
 'PPL',
 'RF',
 'VRSN',
 'LH',
 'EXR',
 'PWR',
 'CF',
 'CAH',
 'CFG',
 'XYL',
 'HPE',
 'EPAM',
 'DOV',
 'WAT',
 'WRB',
 'TDY',
 'PAYC',
 'ROL',
 'NTRS',
 'MRO',
 'CNP',
 'INVH',
 'CHD',
 'AES',
 'MOH',
 'JBHT',
 'MAA',
 'BBY',
 'CLX',
 'HOLX',
 'WAB',
 'DRI',
 'EXPD',
 'STE',
 'AMCR',
 'VTR',
 'IEX',
 'CAG',
 'CMS',
 'KEY',
 'MPWR',
 'BALL',
 'J',
 'BR',
 'GRMN',
 'PKI',
 'TTWO',
 'INCY',
 'FDS',
 'MOS',
 'SEDG',
 'CINF',
 'ABMD',
 'DGX',
 'WST',
 'ATO',
 'TRGP',
 'BRO',
 'SYF',
 'FOX',
 'FOXA',
 'NTAP',
 'FMC',
 'EQT',
 'OMC',
 'SJM',
 'LYV',
 'CPB',
 'HWM',
 'CPRT',
 'AVY',
 'IRM',
 'COO',
 'ALGN',
 'SWKS',
 'EXPE',
 'RCL',
 'ETSY',
 'APA',
 'GEN',
 'TXT',
 'LDOS',
 'LKQ',
 'TER',
 'PTC',
 'TRMB',
 'AKAM',
 'NVR',
 'UAL',
 'LNT',
 'FLT',
 'KIM',
 'ZBRA',
 'TYL',
 'DPZ',
 'JKHY',
 'MGM',
 'ESS',
 'L',
 'PEAK',
 'MTCH',
 'NDSN',
 'EVRG',
 'VTRS',
 'IPG',
 'BEN',
 'CBOE',
 'TECH',
 'SIVB',
 'VFC',
 'IP',
 'HST',
 'UDR',
 'POOL',
 'RE',
 'PARA',
 'SNA',
 'CPT',
 'LW',
 'PKG',
 'CRL',
 'SWK',
 'BIO',
 'WDC',
 'CHRW',
 'STX',
 'MAS',
 'GL',
 'CE',
 'REG',
 'NI',
 'BXP',
 'HSIC',
 'CCL',
 'TFX',
 'CZR',
 'NWS',
 'NWSA',
 'KMX',
 'EMN',
 'JNPR',
 'PHM',
 'CDAY',
 'ALLE',
 'QRVO',
 'BWA',
 'NRG',
 'MKTX',
 'WRK',
 'UHS',
 'FFIV',
 'AOS',
 'CMA',
 'AAL',
 'BBWI',
 'HII',
 'AAP',
 'TPR',
 'FRT',
 'IVZ',
 'PNW',
 'HAS',
 'WYNN',
 'FBHS',
 'SBNY',
 'DISH',
 'RHI',
 'WHR',
 'ZION',
 'CTLT',
 'PNR',
 'SEE',
 'RL',
 'NCLH',
 'DXC',
 'GNRC',
 'AIZ',
 'XRAY',
 'LNC',
 'DVA',
 'MHK',
 'OGN',
 'LUMN',
 'ALK',
 'NWL',
 'VNO',
 'TAP']