In [107]:
# Importing relevant librairies
import numpy as np
import pandas as pd
import yfinance as yf
import os

In [131]:
# Loading stocks return
ticker = pd.read_csv('../raw_data/stocks_return/adj_return_META.csv')
ticker.rename(columns={'timestamp':'date'}, inplace=True)
ticker.sort_values('date', ascending=True, inplace=True)
ticker.reset_index(inplace=True, drop=True)

if '1999-12-31' in ticker['date'].values:
    ticker = ticker[ticker['date']>'1999-12-31']
    ticker.reset_index(inplace=True, drop=True)

ticker.head()

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient
0,2012-05-18,42.05,45.00,38.00,38.2318,38.2318,573576400,0.0,1.0
1,2012-05-21,36.53,36.66,33.00,34.0300,34.0300,168192700,0.0,1.0
2,2012-05-22,32.61,33.59,30.94,31.0000,31.0000,101786600,0.0,1.0
3,2012-05-23,31.37,32.50,31.36,32.0000,32.0000,73600000,0.0,1.0
4,2012-05-24,32.95,33.21,31.77,33.0300,33.0300,50237200,0.0,1.0

In [109]:
# Working on eps folder
ticker_eps = pd.read_csv('../raw_data/eps/data_META.csv', index_col=0)
ticker_eps['date'] = ticker_eps['reportedDate'].copy()

In [110]:
ticker_eps.sort_values('date', inplace=True)
ticker_eps['reportedDate']= pd.to_datetime(ticker_eps['reportedDate'])
ticker_eps['year'] = pd.DatetimeIndex(ticker_eps['reportedDate']).year

In [111]:
if 2000 in ticker_eps['year'].values:
    ticker_eps = ticker_eps[ticker_eps['year']>=2000]
    ticker_eps.reset_index(inplace=True, drop=True)
    
ticker_eps.drop(columns=['year','fiscalDateEnding', 'estimatedEPS', 'surprise', 'reportedDate'], inplace=True)

In [112]:
gold = pd.read_csv('../raw_data/macro/gold.csv', index_col=0)
us_dollar = pd.read_csv('../raw_data/macro/usd.csv', index_col=0)

credit_spread = pd.read_csv('../raw_data/macro/us_yields.csv', index_col=0) 
oil = pd.read_csv('../raw_data/macro/oil.csv', index_col=0) 
orders = pd.read_csv('../raw_data/macro/orders.csv', index_col=0) 
ffunds_rate = pd.read_csv('../raw_data/macro/fed_funds.csv', index_col=0) 
unemployment = pd.read_csv('../raw_data/macro/unemployment.csv', index_col=0) 
inflation_expectation = pd.read_csv('../raw_data/macro/inflation_expectation.csv', index_col=0) 
non_farm_payroll = pd.read_csv('../raw_data/macro/non_farm_payroll.csv', index_col=0) 
cpi = pd.read_csv('../raw_data/macro/cpi.csv', index_col=0) 
retails = pd.read_csv('../raw_data/macro/retail_sales.csv', index_col=0) 
gdp_capita = pd.read_csv('../raw_data/macro/gdp_per_capita.csv', index_col=0)

In [113]:
final_df = ticker.copy()

In [114]:
final_df = final_df.merge(ticker_eps, how='outer', on='date')

In [115]:
final_df = final_df.merge(credit_spread, how='outer')

In [116]:
final_df = final_df.merge(oil, how='outer', on='date',)

In [117]:
final_df = final_df.merge(orders, how='outer')

In [118]:
final_df = final_df.merge(ffunds_rate, how='outer')

In [119]:
final_df = final_df.merge(unemployment, how='outer')

In [120]:
final_df = final_df.merge(inflation_expectation, how='outer')

In [121]:
final_df = final_df.merge(non_farm_payroll, how='outer')

In [122]:
final_df = final_df.merge(cpi, how='outer')

In [123]:
final_df = final_df.merge(retails, how='outer')

In [124]:
final_df = final_df.merge(gdp_capita, how='outer')

In [125]:
#merge gold
final_df = final_df.merge(gold, how='outer', on='date')

In [126]:
# merge us_dollar
final_df = final_df.merge(us_dollar, how='outer', on='date')

In [127]:
final_df = final_df.sort_values('date', ascending=True)
final_df.reset_index(drop=True, inplace=True)

In [128]:
final_df

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185813.0,0.0399,4.0,0.03,128992.0,168.8,213709.0,45983.0,NaN,NaN
1,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.220001
3,2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.410004
4,2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.379997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,2022-11-22,109.86,111.62,108.3216,111.44,111.44,29028963.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,1738.300049,107.220001
8362,2022-11-23,111.72,112.67,110.7300,112.24,112.24,21343083.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8363,2022-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8364,2022-11-25,111.30,112.73,111.0200,111.41,111.41,12007566.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,2022-11-28,110.78,112.04,108.3800,108.78,108.78,23332816.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
# final_df['orders'] = final_df['orders'].fillna(method='ffill')
# final_df['retail_sales'] = final_df['retail_sales'].fillna(method='ffill')
# final_df['gdp_per_capita'] = final_df['gdp_per_capita'].fillna(method='ffill')
# final_df['CPI'] = final_df['CPI'].fillna(method='ffill')
# final_df['non_farm_payroll'] = final_df['non_farm_payroll'].fillna(method='ffill')
# final_df['inf_exp'] = final_df['inf_exp'].fillna(method='ffill')
# final_df['unemployment_rate'] = final_df['unemployment_rate'].fillna(method='ffill')
# final_df['reportedEPS'] = final_df['reportedEPS'].fillna(method='ffill')

In [148]:
pd.read_csv('../raw_data/eps/data_AAPL.csv', index_col=0)

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,2022-09-30,2022-10-27,1.2900,1.27,0.02,1.5748
1,2022-06-30,2022-07-28,1.2000,1.16,0.04,3.4483
2,2022-03-31,2022-04-28,1.5200,1.43,0.09,6.2937
3,2021-12-31,2022-01-27,2.1000,1.89,0.21,11.1111
4,2021-09-30,2021-10-28,1.2400,1.24,0,0
...,...,...,...,...,...,...
102,1997-03-31,1997-04-16,-0.0500,-0.04,-0.01,-25
103,1996-12-31,1997-01-15,-0.0300,-0.02,-0.01,-50
104,1996-09-30,1996-10-16,0.0018,-0.01,0.0118,118
105,1996-06-30,1996-07-17,-0.0200,-0.04,0.02,50
106,1996-03-31,1996-04-17,-0.0700,-0.05,-0.02,-40

In [153]:
def load_csv(ticker: str):
    """
    Creating a function that would allow us to load a csv containing all relevant features of a given ticker
    ticker should be in capital
    Start and end should be in the be following format: %YYYY-%MM-%DD
    """

    #Loading all relevant csv files

    #Loading stock return
    ticker_df = pd.read_csv(f'../raw_data/stocks_return/adj_return_{ticker}.csv')
    ticker_df.rename(columns={'timestamp':'date'}, inplace=True)
    ticker_df.sort_values('date', ascending=True, inplace=True)
    ticker_df.reset_index(inplace=True, drop=True)

    if '1999-12-31' in ticker_df['date'].values:
        ticker_df = ticker_df[ticker_df['date']>'1999-12-31']
        ticker_df.reset_index(inplace=True, drop=True)

    #Loading stocks eps
    ticker_eps = pd.read_csv(f'../raw_data/eps/data_{ticker}.csv', index_col=0)
    ticker_eps['date'] = ticker_eps['reportedDate'].copy()
    ticker_eps.sort_values('date', inplace=True)
    ticker_eps['reportedDate']= pd.to_datetime(ticker_eps['reportedDate'])
    ticker_eps['year'] = pd.DatetimeIndex(ticker_eps['reportedDate']).year

    if 2000 in ticker_eps['year'].values:
        ticker_eps = ticker_eps[ticker_eps['year']>=2000]
        ticker_eps.reset_index(inplace=True, drop=True)

    ticker_eps.drop(columns=['year','fiscalDateEnding', 'estimatedEPS', 'surprise', 'reportedDate'], inplace=True)

    #Loading all macros and commodities
    gold = pd.read_csv('../raw_data/macro/gold.csv', index_col=0)
    us_dollar = pd.read_csv('../raw_data/macro/usd.csv', index_col=0)

    credit_spread = pd.read_csv('../raw_data/macro/us_yields.csv', index_col=0)
    oil = pd.read_csv('../raw_data/macro/oil.csv', index_col=0)
    orders = pd.read_csv('../raw_data/macro/orders.csv', index_col=0)
    ffunds_rate = pd.read_csv('../raw_data/macro/fed_funds.csv', index_col=0)
    unemployment = pd.read_csv('../raw_data/macro/unemployment.csv', index_col=0)
    inflation_expectation = pd.read_csv('../raw_data/macro/inflation_expectation.csv', index_col=0)
    non_farm_payroll = pd.read_csv('../raw_data/macro/non_farm_payroll.csv', index_col=0)
    cpi = pd.read_csv('../raw_data/macro/cpi.csv', index_col=0)
    retails = pd.read_csv('../raw_data/macro/retail_sales.csv', index_col=0)
    gdp_capita = pd.read_csv('../raw_data/macro/gdp_per_capita.csv', index_col=0)


    #Creating our final df and merging with relevant files
    final_df = ticker_df.copy()
    final_df = final_df.merge(ticker_eps, how='outer', on='date')
    final_df = final_df.merge(credit_spread, how='outer')
    final_df = final_df.merge(oil, how='outer', on='date')
    final_df = final_df.merge(orders, how='outer')
    final_df = final_df.merge(ffunds_rate, how='outer')
    final_df = final_df.merge(unemployment, how='outer')
    final_df = final_df.merge(inflation_expectation, how='outer')
    final_df = final_df.merge(non_farm_payroll, how='outer')
    final_df = final_df.merge(cpi, how='outer')
    final_df = final_df.merge(retails, how='outer')
    final_df = final_df.merge(gdp_capita, how='outer')
    final_df = final_df.merge(gold, how='outer', on='date')
    final_df = final_df.merge(us_dollar, how='outer', on='date')

    #Sorting by chronological order and resetting index
    final_df = final_df.sort_values('date', ascending=True)
    final_df.reset_index(drop=True, inplace=True)

    #Since not all features have daily data, we forward filled the missing values
        # final_df['orders'] = final_df['orders'].fillna(method='ffill')
        # final_df['retail_sales'] = final_df['retail_sales'].fillna(method='ffill')
        # final_df['gdp_per_capita'] = final_df['gdp_per_capita'].fillna(method='ffill')
        # final_df['CPI'] = final_df['CPI'].fillna(method='ffill')
        # final_df['non_farm_payroll'] = final_df['non_farm_payroll'].fillna(method='ffill')
        # final_df['inf_exp'] = final_df['inf_exp'].fillna(method='ffill')
        # final_df['unemployment_rate'] = final_df['unemployment_rate'].fillna(method='ffill')
        # final_df['reportedEPS'] = final_df['reportedEPS'].fillna(method='ffill')

    return final_df

In [154]:
load_csv('AAPL')

,date,open,high,low,close,adjusted_close,volume,dividend_amount,split_coefficient,reportedEPS,...,orders,fed_funds,unemployment_rate,inf_exp,non_farm_payroll,CPI,retail_sales,gdp_per_capita,gold_price,usd_price
0,2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,185813.0,0.0399,4.0,0.03,128992.0,168.8,213709.0,45983.0,NaN,NaN
1,2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0399,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-03,104.870,112.50,101.690,111.94,0.851857,4783900.0,0.0,1.0,NaN,...,NaN,0.0543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.220001
3,2000-01-04,108.250,110.62,101.190,102.50,0.780019,4574800.0,0.0,1.0,NaN,...,NaN,0.0538,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.410004
4,2000-01-05,103.750,110.56,103.000,104.00,0.791434,6949300.0,0.0,1.0,NaN,...,NaN,0.0541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.379997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8361,2022-11-22,148.130,150.42,146.925,150.18,150.180000,51804132.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,1738.300049,107.220001
8362,2022-11-23,149.450,151.83,149.340,151.07,151.070000,58301395.0,0.0,1.0,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8363,2022-11-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8364,2022-11-25,148.305,148.88,147.120,148.11,148.110000,35195860.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8365,2022-11-28,145.140,146.64,143.380,144.22,144.220000,69346522.0,0.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN